platforms:
  - type: GKE
    detections:
      - characteristic_metric:
          metric_type: prometheus.googleapis.com/rabbitmq_connections/gauge
    launch_stage: GA
    exporter_metadata:
      name: RabbitMQ Prometheus Exporter
      doc_url: https://rabbitmq.com/prometheus.html#overview-prometheus
      minimum_supported_version: v3.8.0
    default_metrics:
      - name: prometheus.googleapis.com/rabbitmq_queue_messages_ready/gauge
        prometheus_name: rabbitmq_queue_messages_ready
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_channel_messages_published_total/counter
        prometheus_name: rabbitmq_channel_messages_published_total
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_channels/gauge
        prometheus_name: rabbitmq_channels
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_channel_consumers/gauge
        prometheus_name: rabbitmq_channel_consumers
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_connections/gauge
        prometheus_name: rabbitmq_connections
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_queues/gauge
        prometheus_name: rabbitmq_queues
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_queue_messages_unacked/gauge
        prometheus_name: rabbitmq_queue_messages_unacked
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_channel_messages_redelivered_total/counter
        prometheus_name: rabbitmq_channel_messages_redelivered_total
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_channel_messages_delivered_total/counter
        prometheus_name: rabbitmq_channel_messages_delivered_total
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_channel_messages_delivered_ack_total/counter
        prometheus_name: rabbitmq_channel_messages_delivered_ack_total
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus/rabbitmq_channel_get_total/counter
        prometheus_name: rabbitmq_channel_get_total
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_channel_get_ack_total/counter
        prometheus_name: rabbitmq_channel_get_ack_total
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_build_info/unknown:counter
        prometheus_name: rabbitmq_build_info
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_resident_memory_limit_bytes/gauge
        prometheus_name: rabbitmq_resident_memory_limit_bytes
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_process_resident_memory_bytes/gauge
        prometheus_name: rabbitmq_process_resident_memory_bytes
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_disk_space_available_bytes/gauge
        prometheus_name: rabbitmq_disk_space_available_bytes
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_process_max_tcp_sockets/gauge
        prometheus_name: rabbitmq_process_max_tcp_sockets
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_process_open_tcp_sockets/gauge
        prometheus_name: rabbitmq_process_open_tcp_sockets
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_channel_messages_confirmed_total/counter
        prometheus_name: rabbitmq_channel_messages_confirmed_total
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_queue_messages_published_total/counter
        prometheus_name: rabbitmq_queue_messages_published_total
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_channel_messages_unconfirmed/gauge
        prometheus_name: rabbitmq_channel_messages_unconfirmed
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_channel_messages_unroutable_dropped_total/counter
        prometheus_name: rabbitmq_channel_messages_unroutable_dropped_total
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_channel_messages_unroutable_returned_total/counter
        prometheus_name: rabbitmq_channel_messages_unroutable_returned_total
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_channel_messages_acked_total/counter
        prometheus_name: rabbitmq_channel_messages_acked_total
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_channel_messages_delivered_total/counter
        prometheus_name: rabbitmq_channel_messages_delivered_total
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_channel_get_empty_total/counter
        prometheus_name: rabbitmq_channel_get_empty_total
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_queues_declared_total/counter
        prometheus_name: rabbitmq_queues_declared_total
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_queues_created_total/counter
        prometheus_name: rabbitmq_queues_created_total
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/rabbitmq_queues_deleted_total/counter
        prometheus_name: rabbitmq_queues_deleted_total
        kind: CUMULATIVE
        value_type: DOUBLE
    install_documentation_url: https://cloud.google.com/stackdriver/docs/managed-prometheus/exporters/rabbitmq
