platforms:
  - type: GKE
    version: '1'
    launch_stage: GA
    exporter_metadata:
      name: ScyllaDB Prometheus Exporter
      doc_url: https://monitoring.docs.scylladb.com/stable/reference/monitoring_apis.html
      minimum_supported_version: "5.0"
    detections:
      - characteristic_metric:
          metric_type: prometheus.googleapis.com/scylla_storage_proxy_coordinator_write_timeouts/counter
    default_metrics:
      - name: prometheus.googleapis.com/scylla_node_operation_mode/gauge
        prometheus_name: scylla_node_operation_mode
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_reactor_utilization/gauge
        prometheus_name: scylla_reactor_utilization
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_transport_requests_served/counter
        prometheus_name: scylla_transport_requests_served
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_compaction_manager_compactions/gauge
        prometheus_name: scylla_compaction_manager_compactions
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_storage_proxy_coordinator_reads_local_node/counter
        prometheus_name: scylla_storage_proxy_coordinator_reads_local_node
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_storage_proxy_coordinator_read_latency_sum/counter
        prometheus_name: scylla_storage_proxy_coordinator_read_latency_sum
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_storage_proxy_coordinator_read_timeouts/counter
        prometheus_name: scylla_storage_proxy_coordinator_read_timeouts
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_storage_proxy_coordinator_writes_coordinator_outside_replica_set/counter
        prometheus_name: scylla_storage_proxy_coordinator_writes_coordinator_outside_replica_set
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_storage_proxy_coordinator_write_latency_sum/counter
        prometheus_name: scylla_storage_proxy_coordinator_write_latency_sum
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_storage_proxy_coordinator_write_timeouts/counter
        prometheus_name: scylla_storage_proxy_coordinator_write_timeouts
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_cache_bytes_used/gauge
        prometheus_name: scylla_cache_bytes_used
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_cache_partition_hits/counter
        prometheus_name: scylla_cache_partition_hits
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_cache_partition_misses/counter
        prometheus_name: scylla_cache_partition_misses
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_scheduler_shares/gauge
        prometheus_name: scylla_scheduler_shares
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_cql_prepared_cache_evictions/counter
        prometheus_name: scylla_cql_prepared_cache_evictions
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_cql_authorized_prepared_statements_cache_evictions/counter
        prometheus_name: scylla_cql_authorized_prepared_statements_cache_evictions
        kind: CUMULATIVE
        value_type: DOUBLE
    install_documentation_url: https://cloud.google.com/stackdriver/docs/managed-prometheus/exporters/scylladb
  - type: GKE
    version: '2'
    launch_stage: GA
    exporter_metadata:
      name: ScyllaDB Prometheus Exporter
      doc_url: https://monitoring.docs.scylladb.com/stable/reference/monitoring_apis.html
      minimum_supported_version: "5.2"
    detections:
      - characteristic_metric:
          metric_type: prometheus.googleapis.com/scylla_storage_proxy_coordinator_total_write_attempts_local_node/counter
    default_metrics:
      - name: prometheus.googleapis.com/scylla_node_operation_mode/gauge
        prometheus_name: scylla_node_operation_mode
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_reactor_utilization/gauge
        prometheus_name: scylla_reactor_utilization
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_transport_requests_served/counter
        prometheus_name: scylla_transport_requests_served
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_compaction_manager_compactions/gauge
        prometheus_name: scylla_compaction_manager_compactions
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_storage_proxy_coordinator_reads_local_node/counter
        prometheus_name: scylla_storage_proxy_coordinator_reads_local_node
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_storage_proxy_coordinator_read_latency_sum/counter
        prometheus_name: scylla_storage_proxy_coordinator_read_latency_sum
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_storage_proxy_coordinator_total_write_attempts_local_node/counter
        prometheus_name: scylla_storage_proxy_coordinator_total_write_attempts_local_node
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_storage_proxy_coordinator_write_latency_sum/counter
        prometheus_name: scylla_storage_proxy_coordinator_write_latency_sum
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_cache_bytes_used/gauge
        prometheus_name: scylla_cache_bytes_used
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_cache_partition_hits/counter
        prometheus_name: scylla_cache_partition_hits
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_cache_partition_misses/counter
        prometheus_name: scylla_cache_partition_misses
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_scheduler_shares/gauge
        prometheus_name: scylla_scheduler_shares
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_cql_prepared_cache_evictions/counter
        prometheus_name: scylla_cql_prepared_cache_evictions
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/scylla_cql_authorized_prepared_statements_cache_evictions/counter
        prometheus_name: scylla_cql_authorized_prepared_statements_cache_evictions
        kind: CUMULATIVE
        value_type: DOUBLE
    install_documentation_url: https://cloud.google.com/stackdriver/docs/managed-prometheus/exporters/scylladb
