platforms:
  - type: GKE
    launch_stage: GA
    detections:
      - characteristic_metric:
          metric_type: prometheus.googleapis.com/aerospike_namespace_memory_used_bytes/gauge
    exporter_metadata:
      name: Aerospike Prometheus Exporter
      doc_url: https://github.com/aerospike/aerospike-prometheus-exporter
      minimum_supported_version: "1.8.0"
    default_metrics:
      - name: prometheus.googleapis.com/aerospike_namespace_memory_free_pct/gauge
        prometheus_name: aerospike_namespace_memory_free_pct
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/aerospike_node_stats_fabric_connections/gauge
        prometheus_name: aerospike_node_stats_fabric_connections
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/aerospike_node_stats_client_connections/gauge
        prometheus_name: aerospike_node_stats_client_connections
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/aerospike_namespace_memory_used_bytes/gauge
        prometheus_name: aerospike_namespace_memory_used_bytes
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/aerospike_namespace_storage_engine_data_in_memory/gauge
        prometheus_name: aerospike_namespace_storage_engine_data_in_memory
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/aerospike_namespace_transaction_pending_limit/gauge
        prometheus_name: aerospike_namespace_transaction_pending_limit
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/aerospike_node_stats_process_cpu_pct/gauge
        prometheus_name: aerospike_node_stats_process_cpu_pct
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/aerospike_node_stats_system_free_mem_pct/gauge
        prometheus_name: aerospike_node_stats_system_free_mem_pct
        kind: GAUGE
        value_type: DOUBLE
    install_documentation_url: https://cloud.google.com/stackdriver/docs/managed-prometheus/exporters/aerospike
