platforms:
  - type: GKE
    detections:
      - characteristic_metric:
          metric_type: prometheus.googleapis.com/DCGM_FI_DEV_GPU_UTIL/gauge
    launch_stage: HIDDEN
    exporter_metadata:
      name: NVIDIA DCGM Prometheus Exporter
      doc_url: https://github.com/NVIDIA/dcgm-exporter
    default_metrics:
      - name: prometheus.googleapis.com/DCGM_FI_DEV_GPU_UTIL/gauge
        prometheus_name: DCGM_FI_DEV_GPU_UTIL
        kind: GAUGE
        value_type: DOUBLE
        labels:
        - exported_pod
        - modelName
        - uuid
      - name: prometheus.googleapis.com/DCGM_FI_DEV_MEM_COPY_UTIL/gauge
        prometheus_name: DCGM_FI_DEV_MEM_COPY_UTIL
        kind: GAUGE
        value_type: DOUBLE
        labels:
        - exported_pod
        - modelName
        - uuid
      - name: prometheus.googleapis.com/DCGM_FI_DEV_GPU_TEMP/gauge
        prometheus_name: DCGM_FI_DEV_GPU_TEMP
        kind: GAUGE
        value_type: DOUBLE
        labels:
        - exported_pod
        - modelName
        - uuid
      - name: prometheus.googleapis.com/DCGM_FI_DEV_MEMORY_TEMP/gauge
        prometheus_name: DCGM_FI_DEV_MEMORY_TEMP
        kind: GAUGE
        value_type: DOUBLE
        labels:
        - exported_pod
        - modelName
        - uuid
      - name: prometheus.googleapis.com/DCGM_FI_DEV_POWER_USAGE/gauge
        prometheus_name: DCGM_FI_DEV_POWER_USAGE
        kind: GAUGE
        value_type: DOUBLE
        labels:
        - exported_pod
        - modelName
        - uuid
      - name: prometheus.googleapis.com/DCGM_FI_PROF_SM_ACTIVE/gauge
        prometheus_name: DCGM_FI_PROF_SM_ACTIVE
        kind: GAUGE
        value_type: DOUBLE
        labels:
        - exported_pod
        - modelName
        - uuid
      - name: prometheus.googleapis.com/DCGM_FI_PROF_SM_OCCUPANCY/gauge
        prometheus_name: DCGM_FI_PROF_SM_OCCUPANCY
        kind: GAUGE
        value_type: DOUBLE
        labels:
        - exported_pod
        - modelName
        - uuid
      - name: prometheus.googleapis.com/DCGM_FI_PROF_PIPE_TENSOR_ACTIVE/gauge
        prometheus_name: DCGM_FI_PROF_PIPE_TENSOR_ACTIVE
        kind: GAUGE
        value_type: DOUBLE
        labels:
        - exported_pod
        - modelName
        - uuid
      - name: prometheus.googleapis.com/DCGM_FI_PROF_PIPE_FP64_ACTIVE/gauge
        prometheus_name: DCGM_FI_PROF_PIPE_FP64_ACTIVE
        kind: GAUGE
        value_type: DOUBLE
        labels:
        - exported_pod
        - modelName
        - uuid
      - name: prometheus.googleapis.com/DCGM_FI_PROF_PIPE_FP32_ACTIVE/gauge
        prometheus_name: DCGM_FI_PROF_PIPE_FP32_ACTIVE
        kind: GAUGE
        value_type: DOUBLE
        labels:
        - exported_pod
        - modelName
        - uuid
      - name: prometheus.googleapis.com/DCGM_FI_PROF_PIPE_FP16_ACTIVE/gauge
        prometheus_name: DCGM_FI_PROF_PIPE_FP16_ACTIVE
        kind: GAUGE
        value_type: DOUBLE
        labels:
        - exported_pod
        - modelName
        - uuid
      - name: prometheus.googleapis.com/DCGM_FI_DEV_FB_FREE/gauge
        prometheus_name: DCGM_FI_DEV_FB_FREE
        kind: GAUGE
        value_type: DOUBLE
        labels:
        - exported_pod
        - modelName
        - uuid
      - name: prometheus.googleapis.com/DCGM_FI_DEV_FB_USED/gauge
        prometheus_name: DCGM_FI_DEV_FB_USED
        kind: GAUGE
        value_type: DOUBLE
        labels:
        - exported_pod
        - modelName
        - uuid
      - name: prometheus.googleapis.com/DCGM_FI_DEV_FB_TOTAL/gauge
        prometheus_name: DCGM_FI_DEV_FB_TOTAL
        kind: GAUGE
        value_type: DOUBLE
        labels:
        - exported_pod
        - modelName
        - uuid
      - name: prometheus.googleapis.com/DCGM_FI_PROF_PCIE_TX_BYTES/gauge
        prometheus_name: DCGM_FI_PROF_PCIE_TX_BYTES
        kind: GAUGE
        value_type: DOUBLE
        labels:
        - exported_pod
        - modelName
        - uuid
      - name: prometheus.googleapis.com/DCGM_FI_PROF_PCIE_RX_BYTES/gauge
        prometheus_name: DCGM_FI_PROF_PCIE_RX_BYTES
        kind: GAUGE
        value_type: DOUBLE
        labels:
        - exported_pod
        - modelName
        - uuid
      - name: prometheus.googleapis.com/DCGM_FI_PROF_NVLINK_TX_BYTES/gauge
        prometheus_name: DCGM_FI_PROF_NVLINK_TX_BYTES
        kind: GAUGE
        value_type: DOUBLE
        labels:
        - exported_pod
        - modelName
        - uuid
      - name: prometheus.googleapis.com/DCGM_FI_PROF_NVLINK_RX_BYTES/gauge
        prometheus_name: DCGM_FI_PROF_NVLINK_RX_BYTES
        kind: GAUGE
        value_type: DOUBLE
        labels:
        - exported_pod
        - modelName
        - uuid
    install_documentation_url: https://cloud.google.com/stackdriver/docs/managed-prometheus/exporters/nvidia-dcgm
