platforms:
  - type: GKE
    detections:
      - characteristic_metric:
          metric_type: prometheus.googleapis.com/mongodb_ss_connections/unknown:counter
    launch_stage: GA
    exporter_metadata:
      name: MongoDB Prometheus Exporter
      doc_url: https://github.com/percona/mongodb_exporter
      minimum_supported_version: "0.20"
    default_metrics:
      - name: prometheus.googleapis.com/mongodb_ss_connections/unknown:counter
        prometheus_name: mongodb_ss_connections
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/mongodb_sys_disks_sda_read_time_ms/unknown:counter
        prometheus_name: mongodb_sys_disks_sda_read_time_ms
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/mongodb_sys_disks_sda_write_time_ms/unknown:counter
        prometheus_name: mongodb_sys_disks_sda_write_time_ms
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/mongodb_sys_memory_MemFree_kb/unknown:counter
        prometheus_name: mongodb_sys_memory_MemFree_kb
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/mongodb_sys_memory_MemTotal_kb/unknown:counter
        prometheus_name: mongodb_sys_memory_MemTotal_kb
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/mongodb_ss_opcounters/unknown:counter
        prometheus_name: mongodb_ss_opcounters
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/mongodb_ss_opLatencies_latency/unknown:counter
        prometheus_name: mongodb_ss_opLatencies_latency
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/mongodb_ss_metrics_operation_scanAndOrder/unknown:counter
        prometheus_name: mongodb_ss_metrics_operation_scanAndOrder
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/mongodb_ss_globalLock_currentQueue/unknown:counter
        prometheus_name: mongodb_ss_globalLock_currentQueue
        kind: CUMULATIVE
        value_type: DOUBLE
    install_documentation_url: https://cloud.google.com/stackdriver/docs/managed-prometheus/exporters/mongodb
