platforms:
  - type: GKE
    launch_stage: HIDDEN
    detections:
      - characteristic_metric:
          metric_type: prometheus.googleapis.com/solr_core_Value/unknown:counter
    exporter_metadata:
      name: Solr Prometheus Exporter
      doc_url: https://github.com/bitnami/containers/tree/main/bitnami/jmx-exporter
      minimum_supported_version: "0.17.0"
    default_metrics:
      - name: prometheus.googleapis.com/solr_core_Value/unknown:counter
        prometheus_name: solr_core_Value
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/solr_core_cumulative_hits/unknown:counter
        prometheus_name: solr_core_cumulative_hits
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/solr_core_cumulative_lookups/unknown:counter
        prometheus_name: solr_core_cumulative_lookups
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/solr_core_size/unknown:counter
        prometheus_name: solr_core_size
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/solr_core_Count/unknown:counter
        prometheus_name: solr_core_Count
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/solr_core_Mean/unknown:counter
        prometheus_name: solr_core_Mean
        kind: CUMULATIVE
        value_type: DOUBLE
    install_documentation_url: https://cloud.google.com/stackdriver/docs/managed-prometheus/exporters/solr
