platforms:
  - type: GKE
    detections:
      - characteristic_metric:
          metric_type: prometheus.googleapis.com/hbase_Master_Server_numRegionServers/unknown:counter
    launch_stage: HIDDEN
    exporter_metadata:
      name: HBase Prometheus Exporter
      doc_url: https://github.com/bitnami/containers/tree/main/bitnami/jmx-exporter#readme
      minimum_supported_version: "0.17.0"
    default_metrics:
      - name: prometheus.googleapis.com/hbase_Master_Server_numRegionServers/unknown:counter
        prometheus_name: hbase_Master_Server_numRegionServers
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/hbase_Master_Server_numDeadRegionServers/unknown:counter
        prometheus_name: hbase_Master_Server_numDeadRegionServers
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/hbase_RegionServer_Server_readRequestCount/unknown:counter
        prometheus_name: hbase_RegionServer_Server_readRequestCount
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/hbase_RegionServer_Server_writeRequestCount/unknown:counter
        prometheus_name: hbase_RegionServer_Server_writeRequestCount
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/hbase_RegionServer_Server_slowGetCount/unknown:counter
        prometheus_name: hbase_RegionServer_Server_slowGetCount
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/hbase_getTime_99th_percentile/unknown:counter
        prometheus_name: hbase_getTime_99th_percentile
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/hbase_RegionServer_Server_slowAppendCount/unknown:counter
        prometheus_name: hbase_RegionServer_Server_slowAppendCount
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/hbase_appendTime_99th_percentile/unknown:counter
        prometheus_name: hbase_appendTime_99th_percentile
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/hbase_RegionServer_Server_slowDeleteCount/unknown:counter
        prometheus_name: hbase_RegionServer_Server_slowDeleteCount
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/hbase_deleteTime_99th_percentile/unknown:counter
        prometheus_name: hbase_deleteTime_99th_percentile
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/hbase_RegionServer_Server_slowPutCount/unknown:counter
        prometheus_name: hbase_RegionServer_Server_slowPutCount
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/hbase_putTime_99th_percentile/unknown:counter
        prometheus_name: hbase_putTime_99th_percentile
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/hbase_RegionServer_Server_slowIncrementCount/unknown:counter
        prometheus_name: hbase_RegionServer_Server_slowIncrementCount
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/hbase_incrementTime_99th_percentile/unknown:counter
        prometheus_name: hbase_incrementTime_99th_percentile
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/hbase_RegionServer_Server_Replay_99th_percentile/unknown:counter
        prometheus_name: hbase_RegionServer_Server_Replay_99th_percentile
        kind: CUMULATIVE
        value_type: DOUBLE
    install_documentation_url: https://cloud.google.com/stackdriver/docs/managed-prometheus/exporters/hbase
