platforms:
  - type: GKE
    launch_stage: GA
    exporter_metadata:
      name: Elasticsearch Prometheus Exporter
      doc_url: https://github.com/prometheus-community/elasticsearch_exporter
      minimum_supported_version: v1.3.0
    default_metrics:
      - name: prometheus.googleapis.com/elasticsearch_breakers_tripped/counter
        prometheus_name: elasticsearch_breakers_tripped
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/elasticsearch_process_cpu_percent/gauge
        prometheus_name: elasticsearch_process_cpu_percent
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/elasticsearch_jvm_memory_used_bytes/gauge
        prometheus_name: elasticsearch_jvm_memory_used_bytes
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/elasticsearch_jvm_memory_max_bytes/gauge
        prometheus_name: elasticsearch_jvm_memory_max_bytes
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/elasticsearch_jvm_memory_pool_peak_used_bytes/counter
        prometheus_name: elasticsearch_jvm_memory_pool_peak_used_bytes
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/elasticsearch_cluster_health_number_of_nodes/gauge
        prometheus_name: elasticsearch_cluster_health_number_of_nodes
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/elasticsearch_cluster_health_number_of_data_nodes/gauge
        prometheus_name: elasticsearch_cluster_health_number_of_data_nodes
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/elasticsearch_cluster_health_number_of_pending_tasks/gauge
        prometheus_name: elasticsearch_cluster_health_number_of_pending_tasks
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/elasticsearch_cluster_health_status/gauge
        prometheus_name: elasticsearch_cluster_health_status
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/elasticsearch_process_open_files_count/gauge
        prometheus_name: elasticsearch_process_open_files_count
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/elasticsearch_os_load15/gauge
        prometheus_name: elasticsearch_os_load15
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/elasticsearch_filesystem_data_available_bytes/gauge
        prometheus_name: elasticsearch_filesystem_data_available_bytes
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/elasticsearch_filesystem_data_size_bytes/gauge
        prometheus_name: elasticsearch_filesystem_data_size_bytes
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/elasticsearch_transport_rx_size_bytes_total/counter
        prometheus_name: elasticsearch_transport_rx_size_bytes_total
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/elasticsearch_thread_pool_rejected_count/counter
        prometheus_name: elasticsearch_thread_pool_rejected_count
        kind: CUMULATIVE
        value_type: DOUBLE
    install_documentation_url: https://cloud.google.com/stackdriver/docs/managed-prometheus/exporters/elasticsearch
