platforms:
  - type: GKE
    launch_stage: HIDDEN
    detections:
      - characteristic_metric:
          metric_type: prometheus.googleapis.com/inference_objective_request_duration_seconds/histogram
      - characteristic_metric:
          metric_type: compute.googleapis.com/instance/gpu/throughput_tx_bytes
    exporter_metadata:
      name: llm-d Overview
      doc_url: https://github.com/llm-d/llm-d/tree/main/docs/monitoring
    default_metrics:
      - name: prometheus.googleapis.com/inference_objective_request_total/counter
        prometheus_name: inference_objective_request_total
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/inference_objective_request_error_total/counter
        prometheus_name: inference_objective_request_error_total
        kind: CUMULATIVE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/inference_objective_request_duration_seconds/histogram
        prometheus_name: inference_objective_request_duration_seconds
        kind: CUMULATIVE
        value_type: DISTRIBUTION
      - name: prometheus.googleapis.com/inference_objective_input_tokens/histogram
        prometheus_name: inference_objective_input_tokens
        kind: CUMULATIVE
        value_type: DISTRIBUTION
      - name: prometheus.googleapis.com/inference_objective_output_tokens/histogram
        prometheus_name: inference_objective_output_tokens
        kind: CUMULATIVE
        value_type: DISTRIBUTION
      - name: prometheus.googleapis.com/inference_objective_request_sizes/histogram
        prometheus_name: inference_objective_request_sizes
        kind: CUMULATIVE
        value_type: DISTRIBUTION
      - name: prometheus.googleapis.com/inference_objective_response_sizes/histogram
        prometheus_name: inference_objective_response_sizes
        kind: CUMULATIVE
        value_type: DISTRIBUTION
      - name: prometheus.googleapis.com/inference_pool_average_kv_cache_utilization/gauge
        prometheus_name: inference_pool_average_kv_cache_utilization
        kind: GAUGE
        value_type: DOUBLE
      - name: prometheus.googleapis.com/inference_pool_average_queue_size/gauge
        prometheus_name: inference_pool_average_queue_size
        kind: GAUGE
        value_type: DOUBLE
    install_documentation_url: https://docs.cloud.google.com/stackdriver/docs/managed-prometheus/exporters/llm-d
