name: 'Add PR reviewers'
on:
  pull_request_target:
    types: [ready_for_review]

jobs:
  add-owner:
    runs-on: ubuntu-latest
    steps:
      - name: run
        uses: kentaro-m/auto-assign-action@v1.1.1
        with:
          configuration-path: ".github/review-assignment-config.yaml"